:host {
  width: 100%;
  display: block;

  .header {
    position: relative;
    padding-top: 40px;

    background-color: var(--footer-bg);
    background-image: url("./../../../assets/img/header-bgi.jpg");
    background-size: cover;
    aspect-ratio: 1440 / 1084;

    color: var(--header-text-color);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("./../../../assets/img/header-bgi@2x.jpg");
    }

    @media (max-width: 629px) {
      padding-top: 20px;
      padding-bottom: 240px;
      background-position: center;
      aspect-ratio: unset;
    }
  }
}
