:root {
	--text-color: rgb(30, 30, 30);
	--text-muted: rgb(141, 141, 141);
	--text-card-dark-blue: rgb(13, 27, 57);
	--accent: rgb(229, 132, 17);

	--header-text-color: rgb(255, 255, 255);

	--footer-accent: rgb(246, 151, 63);
	--footer-bg: rgb(45, 47, 51);
	--footer-text-color: rgba(255, 255, 255, 0.8);

	--ui-orange: rgb(229, 132, 17);
	--ui-biruza: rgb(0, 214, 201);
	--ui-gray: rgb(124, 124, 124);
	--ui-dark-blue: rgb(13, 27, 57);

	--font-main: 'Gilroy', sans-serif;
	--font-cards: 'Inter', sans-serif;
	--font-footer-accent: 'DM Sans', sans-serif;
}
