:host {
  width: 100%;
  display: block;

  .header__nav {
    margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
  }

  .nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
  }
}
