<div class="card">
  <div class="card-img-box">
    <img src="assets/img/bed-02.png" alt="image of a card" class="card__img" />
  </div>
  <div class="card-desc-box">
    <h3 class="card__desc read-more">Card Description</h3>
    <p class="card__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatum, voluptate, quibusdam, quia voluptas quos dolorum
      voluptatibus quod quas quibusdam, quia voluptas quos dolorum
      voluptatibus quod quas
  </div>
</div>
